*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(239, 232, 232);
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

.header {
  width: 100%;
  padding: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 300;
  color: gray;
}

/* !Приколюхи */
h1 {
  color: white;
  margin: 80px 0 10px 0;
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #dc143c, 2px 2px 0px #dc143c, 3px 3px 0px #dc143c,
    4px 4px 0px #dc143c;
}
/* !Sidebar */
.sidebar__button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: pink;
  background: pink;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.sidebar__button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.sidebar__button:active {
  color: #000;
}

.sidebar__button:active:after {
  background: transparent;
}

.sidebar__button:hover:before {
  opacity: 1;
}

.sidebar__button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.79);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.sidebar__button {
  position: fixed;
  margin-right: 90%;
  margin-bottom: 90%;
  background-color: #d9a7c7;
  border-radius: 50%;
}
.offcanvas-body__list_songs a {
  color: #000;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.offcanvas {
  background: linear-gradient(to right, #d9a7c7, #fffcdc);
}

/*! Hero */
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.hero__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 48px;
  line-height: 1.1;

  margin-bottom: 20px;
}

.hero__prof {
  color: #4facfe;
  white-space: nowrap;
}

.hero__subtitle {
  font-size: 32px;
  font-weight: 400;
}

.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;

  font-size: 30px;
  color: #000;
}

.hero__link:hover {
  color: #4facfe;
}

.hero__box {
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

  animation: ava-animate 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.hero__box-img {
  animation: ava-bg 3s infinite alternate;
}

/* !Section 2 */
.section2 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  padding: 0 20px;
}
.section2__text {
  font-family: montserrat, sans-serif;
  font-size: 20px;

  margin-bottom: 50px;
}
.section2 div::after {
  content: "👇";
}

.subprogresive_menu {
  display: flex;
  justify-content: space-between;
  height: 200px;
  flex-direction: column;
  width: 50vw;
}
.progresive_menu {
  display: flex;
  justify-content: center;
}
/* !Progressive menu */
.container {
  margin-bottom: 100px;
}
.progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 0 20px;
}

.progress {
  height: 20px;
  background: #333;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

.progress .progress-value {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: -30px;
  right: -25px;
}

.progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #fff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 1;
  transform: rotate(35deg);
}

/* !Footer */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.79);
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: red;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid red;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
  background: none;
  color: white;
}
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: rgb(176, 4, 4);
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: red;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}
@media screen and (max-width: 978px) {
  .hero {
    padding-top: 30px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    max-width: 350px;
    justify-self: center;
  }
}

@keyframes ava-animate {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  40% {
    border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
  }

  60% {
    border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
  }

  100% {
    border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}
